<li class="row numbers-items" >
   <div class="col-xs-1 cnt">
      <span ng-class="'glyphicon glyphicon-plus'"></span>
   </div>
   <!--<div class="col-xs-11 cnt"><input type="text" value="{{sub.name}}" class="bordeless" ng-keydown="executiveDirector($event)" view-autofocus="{{sub.focus}}" /></div>-->
   <div class="col-xs-11 cnt el-shaddai" ng-keydown="executiveDirector($event)" tabindex='-1' view-autofocus="{{sub.focus}}"
        hm-touch="restore($event)" hm-tap="restore($event)" contenteditable ng-model="sub.name" name="sub.name" strip-br="true" ></div>
</li>