<article ng-controller="kingsI">
   <section id="listView" ng-if="view=='list'">
      <header class="menuHeader">
         <ol class="breadcrumb">
            <li><a href="#genesis">Home</a></li>
            <li class="active">{{menu[0].text}}</li>
            <li class="menu-icon"><a ng-if="licentia['Create Server']" ng-href="{{crud.alpha}}" class="glyphicon glyphicon-plus success"></a></li>
            <li class="menu-icon">
               <div class="dropdown">
                 <a class="dropdown-toggle glyphicon glyphicon-sort-by-attributes success link"> Sort</a>
                 <ul class="dropdown-menu"><li ng-repeat="sort in sorts"><a class="link" ng-click="arrange(sort.key)">{{sort.name}}</a></li></ul>
               </div>
            </li>
         </ol>
      </header>
      <section id="mainContent" class='listContainer'>
         <div id='scroller'>
            <ul>
               <li class="row numbers-items" ng-repeat="row in data | refined:['name','status','ip','company']:inputSearch | orderBy:sortable:reverse">
                  <div class="col-xs-1 icon-column">
                     <span ng-class="'text-info item-icon glyphicon glyphicon-globe '+{true:'text-danger',false:''}[row.status==='down']" ></span>
                  </div>
                  <div class="col-xs-11">
                     <a href="#kingsI/machine/view/{{row.name}}">
                        <h4>
                           <span ng-if="row.status" style="width:50px;" ng-class="'pull-right badge badge-'+{'set':'success','unset':'warning','down':'danger'}[row.status]">{{row.status}}</span>
                           <span ng-if="row.company" class="pull-right label label-default" style='background:#000;'>{{row.company}}</span>
                           {{row.name}} <small ng-if='row.ip'>{{row.ip}}</small>
                        </h4>
                        <small>
                           <span ng-if='row.status!=="down"'>{{row.description | limitTo:110}}.</span>
                           <span ng-if='row.message' ng-class="{true:'text-danger',false:''}[row.status==='down']">{{row.message}}.</span>
                           <span ng-if='row.modified' class="text-primary">{{row.modified}}.</span>

                        </small>
                     </a>
                  </div>
               </li>
            </ul>
         </div>
      </section>
   </section>
   <section id="detailView"  ng-if="view=='new'||view=='view'">
      <header class="menuHeader">
         <ol class="breadcrumb">
            <li><a href="#genesis">Home</a></li>
            <li><a ng-href="{{menu[0].link}}">{{menu[0].text}}</a></li>
            <li class="active">{{jesua|ucfirst}} {{menu[1].text}}</li>
            <li class="menu-icon"><a ng-if="licentia['Create Server']" ng-href="{{crud.alpha}}" ng-click="new()" class="glyphicon glyphicon-plus success"></a></li>
            <li class="menu-icon"><a ng-if="licentia['Delete Server']"  ng-click="delete()" class="glyphicon glyphicon-remove danger"></a></li>
         </ol>
      </header>
      <section  class='listContainer'>
         <span id="messager" ng-class="'help-block '+{true:'text-danger',false:'text-info'}[err]" ng-show="msg">{{msg}}</span>
         <form id="srvForm" class="container-fluid" name="dataForm" ng-submit="submit(dataForm)">
            <input type="hidden" class="form-control" ng-model="data.jesua" />
            <div class="col-md-6">
               <div id='srvModified1'  class="input-group">
                  <span class="input-group-addon glyphicon glyphicon-calendar"></span>
                  <span class="input-group-addon form-label">Modified</span>
                  <output class="form-control readonly" ng-model="modified"  >{{data.modified}}</output>
               </div>
               <div id='srvModified'  ng-class="'input-group '+{true:'has-error'}[errMsg.name]">
                  <span class="input-group-addon glyphicon glyphicon-book"></span>
                  <span class="input-group-addon form-label">Server</span>
                  <input type="text" class="form-control" required placeholder="Server's name" autofocus name="name" ng-model="data.name.alpha" title="Server's name" />
               </div>
            </div>
            <div class="col-md-6">
               <div id='srvModified'  ng-class="'input-group '+{true:'has-error'}[errMsg.ip]">
                  <span class="input-group-addon glyphicon glyphicon-cloud"></span>
                  <span class="input-group-addon form-label">IP</span>
                  <input type="text" class="form-control" required placeholder="Server IP" name="address" ng-model="data.ip" title="Server IP" />
               </div>
               <div id='srvModified'  ng-class="'input-group '+{true:'has-error'}[errMsg.parent]">
                  <span class="input-group-addon glyphicon glyphicon-envelope"></span>
                  <span class="input-group-addon form-label">Parent</span>
                  <input type="text" class="form-control" placeholder="parent Name / Parent" name="parent" ng-model="data.parent" title="parent Name / Parent" />
               </div>
            </div>
            <div class="col-md-6">
               <div id='srvModified'  ng-class="'input-group '+{true:'has-error'}[errMsg.message]">
                  <span class="input-group-addon glyphicon glyphicon-pencil"></span>
                  <span class="input-group-addon form-label">Message</span>
                  <input type="text" class="form-control" placeholder="Message/Error" name="message" ng-model="data.message" title="Message" />
               </div>
               <div id='srvModified'  ng-class="'input-group '+{true:'has-error'}[errMsg.company]">
                  <span class="input-group-addon glyphicon glyphicon-briefcase"></span>
                  <span class="input-group-addon form-label">Company</span>
                  <input type="text" class="form-control" placeholder="Company" name="company" ng-model="data.company" title="Company" />
               </div>
            </div>
            <div class="col-md-6">
               <div id='srvModified' ng-class="'input-group '+{true:'has-error'}[errMsg.login]">
                  <span class="input-group-addon glyphicon glyphicon-lock"></span>
                  <span class="input-group-addon form-label">RDC Login</span>
                  <input type="text" class="form-control" placeholder="Login" name="login" ng-model="data.login" title="Login" />
               </div>
               <div class="input-group btn-group" data-toggle="buttons">
                  <span class="input-group-addon glyphicon glyphicon-book"></span>
                  <button ng-repeat="key in opt.extra.status.enum" name="status[]" type="button" class="btn btn-primary" ng-model="data.status"  btn-radio="'{{key}}'" >{{key}}</button>
               </div>
            </div>
            <div id='srvModified'  ng-class="'input-group '+{true:'has-error'}[errMsg.description]" >
               <span class="input-group-addon glyphicon glyphicon-lock"></span>
               <textarea class="form-control" rows="7" required placeholder="Enter server description" title="Enter server description" name="description" ng-model="data.description" ></textarea>
            </div>
            <div class="input-group btn-group" data-toggle="buttons">
               <span class="input-group-addon glyphicon glyphicon-book"></span>
               <button ng-repeat="key in opt.extra.type.enum" name="type[]" type="button" class="btn btn-primary" ng-model="data.type"  btn-radio="'{{key}}'" >{{key}}</button>
            </div>
            <div ng-if="verifySubmit()" id='srvModified'  class="input-group">
               <button type="submit"  ng-class="btnClass" name="submit" >{{btn}}</button>
            </div>
         </form><hr/>

         <div ng-repeat="(ref,lists) in opt.listsConf" class="table-responsive panel panel-primary">
            <div class="panel-heading"><h3 class="panel-title">{{lists.title}}. <small class="white" ng-show="!opt.listsVal">Click on the add(+) icon to add new items</small> </h3></div>
            <div class="panel-body" style="overflow: scroll;height: 350px;">
               <table class="table table-hover table-condensed table-dynamic">
                  <thead>
                     <tr>
                        <th>#</th><th>Description</th><th>Service Group</th><th>String Command</th><th>&nbsp;</th>
                     </tr>
                  </thead>
                  <tbody>
                     <tr ng-repeat="(key,list) in opt.listsVal[ref] | filter:inputSearch">
                        <!--<td>{{list}}</td>-->
                        <td>{{key+1}}</td><td><input type="text" readonly placeholder="Add a name here" name="listName[]" ng-model="list.description" /></td>
                        <td><input readonly type="text" placeholder="Add a description here" name="listSrvG[]" ng-model="list.service_group" /></td>
                        <td><input ng-change="list.changed=true" ng-blur="savItem(ref,list)" type="text" placeholder="Add a description here" name="listStrg[]" ng-model="list.string" /></td>
                        <td>
                           <!--<span ng-click="remItem(key,ref,list)" class="glyphicon glyphicon-remove danger" title="Remove this item"></span>-->
                           <span ng-if="licentia['Link Server to Service']"  ng-click="linkItem(ref,[data.name.alpha,list.name,list.string,list.command],list.name,'command')" class="glyphicon funcSmall link" ng-class="{true:'glyphicon-ok-circle success',false:'glyphicon-remove-circle danger'}[list.command==list.name]" title="Link/Unlink Server to Service"></span>
                           <input type="hidden" name="isNew[]" ng-model="list.isNew" />
                        </td>
                     </tr>
                  </tbody>
                  <tfoot ng-if="opt.listsVal">
                  <td colspan="4">&nbsp;</td>
                  <td><span ng-click="submit(dataForm)" class="glyphicon glyphicon-ok success" title="Save all items"></span></td>
                  </tfoot>
               </table>
            </div>
         </div>
      </section>
   </section>
</article>